<include file='Public/header' />

<body>
	<div class="place">
	    <span>位置：</span>
	    <ul class="placeul">
		    <li>会员管理</li>
		    <li>设置简介</li>
	    </ul>
   </div>
    <div class="formbody">
    	<div class="formtitle"><span>设置简介</span></div>
	    <form action="{:U('index')}" method="post" class="layui-form">
	    	<input type="hidden" name="a_id" value="{$list.a_id}" >
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">标题</label>
					<div class="layui-input-inline" style="width: 900px;"><input type="text" name="a_title" value="{$list.a_title}" lay-verify="required" class="layui-input"></div>
				</div>
			</div>
		    <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">详情</label>
					<div class="layui-input-inline">
						<script id="editor" name="a_detail" type="text/plain">{$list.a_detail}</script>
				    	<script>var ue = UE.getEditor('editor');</script>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
	            <div class="layui-input-block">
	                <button class="layui-btn layui-btn-small layui-btn-normal" lay-submit  lay-filter="sub">确认保存</button>
	                <button class="layui-btn layui-btn-small layui-btn-primary" onclick="history.go(-1)">返回操作</button>
	            </div>
        	</div>
	    </form>
    </div>
</body>
</html>
<script>
layui.use(['form','upload'], function(){    
    var form = layui.form();
	form.on('submit(sub)', function(data){
        
	});
});
</script>