<include file='Public/header' />

<body>
	<div class="place">
	    <span>位置：</span>
	    <ul class="placeul">
		    <li>视频管理</li>
		    <li>视频分类</li>
		    <li>新增视频</li>
	    </ul>
   </div>
    <div class="formbody">
    	<div class="formtitle"><span>新增视频</span></div>
	    <form action="{:U('add')}" method="post" class="layui-form">
	    	<input type="hidden" id="v_pic" name="v_pic" />
	    	<input type="hidden" id="v_video" name="v_video" />
	    	<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">选择分类</label>
					<div class="layui-input-inline">
						<select name="v_type_id">
							<foreach name="type" item="v">
							<option value="{$v.vt_id}">{$v.vt_name}</option>
							</foreach>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">选择讲师</label>
					<div class="layui-input-inline">
						<select name="v_lecturer_id">
							<foreach name="lecturer" item="v">
							<option value="{$v.l_id}">{$v.l_name}</option>
							</foreach>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">视频名称</label>
					<div class="layui-input-inline"><input type="text" name="v_title" lay-verify="required" class="layui-input"></div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">上传视频</label>
		            <div class="layui-input-inline" style="width: 105px;"><input id="upload_video" type="file" name="upload_video" class="layui-upload-file"></div>
		            <div id="video" class="layui-form-mid layui-word-aux"></div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">上传图片</label>
		            <div class="layui-input-inline" style="width: 105px;"><input id="upload_pic" type="file" name="upload_pic" class="layui-upload-file"></div>
		            <div class="layui-form-mid layui-word-aux"></div>
				</div>
			</div>
		    <div class="layui-form-item">
		    	<div class="layui-inline">
		            <label class="layui-form-label"></label>
		            <div class="layui-input-inline"><img id="pic" src="" style="max-width: 320px;max-height: 200px;" /></div>
		        </div>
		    </div>
			<div class="layui-form-item">
	            <div class="layui-input-block">
	                <button class="layui-btn layui-btn-small layui-btn-normal" lay-submit  lay-filter="sub">确认保存</button>
	                <button class="layui-btn layui-btn-small layui-btn-primary" onclick="history.go(-1)">返回操作</button>
	            </div>
        	</div>
	    </form>
    </div>
</body>
</html>
<script>
layui.use(['form','upload'], function(){
	//上传视频
	layui.upload({
        elem:'#upload_video', title:"上传视频", ext:'mp4',
        url:"{:U('Video/uploadVideo')}",
        before: function(input){
        	//alert(11);
        },
        success:function(res){
        	if(res.result_code==100){
        		$("#v_video").val(res.file);
        		$("#video").html(res.file);
            }
        }
   });
	//上传图片
    layui.upload({
    	elem: "#upload_pic", 
        url: "{:U('Base/upload')}" ,success: function(res){
            if(res.result_code==100){
                $("#v_pic").val(res.file);
                $("#pic").attr("src", res.file);
            }
        }
    });
    var form = layui.form();
	form.on('submit(sub)', function(data){
        
	});
});
</script>